body{
	background-image:https://preview.redd.it/the-amazing-digital-circus-remake-in-blender-4-0-wip-done-v0-zu7a8xrx2ztd1.png?width=1080&crop=smart&auto=webp&s=33d7ed901a7e58aeec1869f522f2ee48213d006f
}

.fghm{
	color:yellow;
}         
.ffgh{    
	color:yellow;
}
.kjvj{
	color:yellow;
}
.dnjh{
	color:red;
}
.fhvh{
	color:blue;
	
}
.oooo{
	height:290px;
}
.hghg{
	height:290px;
}
.qqqq{
	height:290px;
}
.ffff{
	height:290px;
}
.dddd{
	height:290px;
}
	.llll{
		height:290px;
	}
.hfhf{
	height:290px;
}
a{
	background-color:gold;
	color:white;
	padding:5px 20px;
	text-decoration:none;
	border-radius:5px;
	transition:all 0.5s ease;
}

a:hover{
	background-color:goldenrod;
}